<script setup>
import Files from "@/Components/Files.vue";
import UploadFile from "@/Components/UploadFile.vue";
import ApiSelect from "@/Components/ApiSelect.vue";
</script>

<template>
    <div
        class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">
        <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
            <div class="mt-8 bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
                <div class="text-gray-900 p-4 border-b">
                    <ApiSelect :current-api="currentApi" @apiChanged="changeCurrentApi"></ApiSelect>
                </div>
                <div class="text-gray-900 p-4 border-b dark:text-white dark:border-slate-600">
                    <UploadFile :current-api="currentApi"></UploadFile>
                </div>
                <div>
                    <Files ref="files" :current-api="currentApi"></Files>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            currentApi: 'YandexApi'
        }
    },
    methods: {
        changeCurrentApi(value) {
            this.currentApi = value;
        }
    }
}
</script>
