<template>
    <span class="font-medium p-4 text-slate-400 dark:text-slate-200 text-left">Выбрать хранилище:</span>
    <select @change="changeApiType($event)" v-model="currentApi">
        <option v-for="type in apiTypes">{{ type }}</option>
    </select>
    <div v-if="actionMessage" class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700 mt-5">
        {{ actionMessage }}
    </div>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            apiTypes: [
                'YandexApi',
                'NewApi',
            ],
            actionMessage: '',
        }
    },
    props: {
        currentApi: String
    },
    emits: ["apiChanged"],
    methods: {
        changeApiType(event) {
            this.$emit('apiChanged', event.target.value);
        }
    },
    mounted() {
    }
}
</script>

<style scoped>
</style>
