<template>
    <table class="table-fixed">
        <template v-if="files && files.data && files.data.length > 0">
            <thead>
            <tr>
                <th class="border-b dark:border-slate-600 font-medium p-4 text-slate-400 dark:text-slate-200 text-left">
                    Название
                </th>
                <th class="border-b dark:border-slate-600 font-medium p-4 text-slate-400 dark:text-slate-200 text-left">
                    Дата
                </th>
                <th class="border-b dark:border-slate-600 font-medium p-4 text-slate-400 dark:text-slate-200 text-left">
                    Действия
                </th>
            </tr>
            </thead>
            <tbody>
            <template v-for="file in files.data" :key="file.id">
                <tr v-if="actionMessage && actionFileId===file.id">
                    <td colspan="3"
                        class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700 mt-5">
                        {{ actionMessage }}
                    </td>
                </tr>
                <tr v-else-if="editFileId===file.id">
                    <td colspan="2"
                        class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
                        <input type="text" :value="file.name" ref="newFileName"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </td>
                    <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
                        <div><a @click="renameFile(file.id)" class="underline cursor-pointer">Переименовать</a></div>
                        <div><a @click="cancelEditFile()" class="underline cursor-pointer">Отмена</a></div>
                    </td>
                </tr>
                <tr v-else>
                    <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
                        {{ file.name }}
                    </td>
                    <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
                        {{ file.date }}
                    </td>
                    <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
                        <div><a @click="delFile(file.id)" class="underline cursor-pointer">Удалить</a></div>
                        <div><a @click="downloadFile(file.id)" class="underline cursor-pointer">Скачать</a></div>
                        <div><a @click="showEditFile(file.id)" class="underline cursor-pointer">Переименовать</a></div>
                    </td>
                </tr>
            </template>
            </tbody>
        </template>
        <tbody v-else>
        <tr>
            <td colspan="3"
                class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
                Файлы не найдены.
            </td>
        </tr>
        </tbody>
    </table>
    <pagination :data="files" @pagination-change-page="getFiles">
        <template #prev-nav>
            <span>&lt; Предыдущая</span>
        </template>
        <template #next-nav>
            <span>Следующая &gt;</span>
        </template>
    </pagination>
</template>

<script>
import pagination from 'laravel-vue-pagination'

export default {
    name: "Files",
    components: {
        pagination
    },
    props: {
        currentApi: String
    },
    watch: {
        currentApi: function () {
            this.getFiles();
        }
    },
    data() {
        return {
            files: {},
            actionMessage: '',
            actionFileId: '',
            editFileId: '',
        }
    },
    methods: {
        getFiles(page = 1) {
            axios.get(`/api/files/?page=${page}&api=${this.currentApi}`).then((res) => {
                this.files = res.data
            })
        },
        showEditFile(id) {
            this.editFileId = id;
        },
        cancelEditFile() {
            this.editFileId = '';
        },
        delFile(id) {
            this.actionFileId = id;

            axios.delete(`/api/files/`, {
                data: {
                    id: id,
                    api: this.currentApi
                }
            })
                .then(() => {
                    this.actionMessage = '';
                    this.getFiles()
                })
                .catch((res) => {
                    this.actionMessage = res.response.data.message;
                })
        },
        renameFile(id) {
            this.actionFileId = id;

            axios.patch(`/api/files/`, {
                id: id,
                name: this.$refs.newFileName[0].value,
                api: this.currentApi
            })
                .then(() => {
                    this.actionMessage = '';
                    this.getFiles()
                })
                .catch((res) => {
                    this.actionMessage = res.response.data.message;
                })
        },
        downloadFile(id) {
            this.actionFileId = id;

            axios.get(`/api/files/download?id=${id}&api=${this.currentApi}`)
                .then((res) => {
                    // Перейти по полученной ссылке
                    const link = document.createElement('a');
                    link.href = res.data.link;
                    link.setAttribute('download', 'true');
                    link.setAttribute('target', "_blank");
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                })
                .catch((res) => {
                    this.actionMessage = res.response.data.message;
                })
        }
    },
    mounted() {
        this.getFiles();
    }
}
</script>

<style>
.pagination {
    display: flex;
    color: #fff;
    margin: 1em 0;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.pagination-page-nav.active {
    font-weight: bold;
    font-size: 20px;
}

.sr-only {
    display: none;
}
</style>
