<template>
    <div class="grid grid-cols-1 md:grid-cols-2">
        <label class="block">
            <input @change="changeFile" type="file" ref="fileinput"
                   class="block w-full text-sm text-slate-500
                      file:mr-4 file:py-2 file:px-4
                      file:rounded-full file:border-0
                      file:text-sm file:font-semibold
                      file:bg-violet-50 file:text-violet-700
                      hover:file:bg-violet-100
            "/>
        </label>
        <button @click="submitFile" class="rounded-full bg-slate-700">Загрузить файл</button>
    </div>
    <template v-if="actionMessage">
        <div v-if="actionError"
             class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700 mt-5">
            <p>{{ actionMessage }}</p>
        </div>
        <div v-else class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700 mt-5">
            <p>{{ actionMessage }}</p>
        </div>
    </template>
</template>


<script>

export default {
    name: 'UploadFile',
    data() {
        return {
            file: null,
            actionError: false,
            actionMessage: '',
        }
    },
    props: {
        currentApi: String
    },
    methods: {
        changeFile() {
            this.file = this.$refs.fileinput.files[0];
        },
        submitFile() {
            const formData = new FormData();
            formData.append('file', this.file);
            formData.append('api', this.currentApi);

            axios.post('/api/files/', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
                .then((res) => {
                    this.actionMessage = res.data.message;
                    this.actionError = false;
                })
                .catch((res) => {
                    this.actionMessage = res.response.data.message ? res.response.data.message : res.message;
                    this.actionError = true;
                })
                .finally(() => {
                    this.$refs.fileinput.value = null;
                    this.changeFile();
                    this.$parent.$refs.files.getFiles()
                });
        },
    }
}
</script>
